[Unit]
Description=Spring Boot CRUD Redis Application
After=network.target

[Service]
Type=simple
User=destroyer
WorkingDirectory=/home/destroyer/spring-boot-crud-redis
ExecStart=/home/destroyer/spring-boot-crud-redis/start-app.sh
SuccessExitStatus=143
Restart=always
RestartSec=10

# Logging
StandardOutput=journal
StandardError=journal
SyslogIdentifier=spring-boot-crud-redis

[Install]
WantedBy=multi-user.target
